/*===============Propiedades Globales================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#img-equipo{
	max-height:30rem !important;
	width:50%;
}

#local{
	margin-top:50px;
	background-color:#f3f3f3;
	display:flex;
	justify-content:center;
	padding-bottom:300px;
}

.mapa{
	background:url(../img/mapa.PNG);
	width:100%;
	height:500px;
}

.wrapper-local{
	width:50%;
	margin-left:100px;
	margin-top:150px;
}

#numeros-local{
	margin:0 !important;
	padding:0 !important;
}
#numeros-local div{
	padding:0 20px 0 0;
	text-align:left;
	height:48px;
}

#seccion-contacto{
	min-height:600px;
	background-color:#1b2a4e;
	position:relative;
}
#contenedor-formulario{
	position:absolute;
	top:30%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:#fbfafa;
	border-radius:5px;
}
#titulo-formulario{
	color:#3f3f3f;
}
footer{
	background-color:#1b2a4e;
	color:#fff;
}
#iconos i{
	color:#fff;
	padding:0 8px;
	font-size:26px;
}
@media (max-width:1200px){
	
}
@media (max-width:768px){
	
}
@media (max-width:576px){
	
}